<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>TrendingYoutuber</display-name>
  <welcome-file-list>
    <welcome-file>FindVideos.jsp</welcome-file>
  </welcome-file-list>
  <!--
  <servlet>
    <servlet-name>FindVideos</servlet-name>
    <servlet-class>blog.servlet.FindVideos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindVideos</servlet-name>
    <url-pattern>/findvideos</url-pattern>
  </servlet-mapping>
  -->
</web-app>